In [1]:
import pandas as pd
import numpy as np
import re

### Looking at the first few lines we notice that a peculiar structure. There are two types of lines. One with just the movie_id followed by a colon. And other with user_id, rating and date for that movie_id.

In [2]:
!head combined_data_1.txt

1:
1488844,3,2005-09-06
822109,5,2005-05-13
885013,4,2005-10-19
30878,4,2005-12-26
823519,3,2004-05-03
893988,3,2005-11-17
124105,4,2004-08-05
1248029,3,2004-04-22
1842128,4,2004-05-09

### Loading a text file, followed by stripping the newline character

In [3]:
with open('combined_data_1.txt','r',encoding='utf-8',errors='ignore') as f:
    data = f.readlines()

In [4]:
data[:5]

['1:\n',
 '1488844,3,2005-09-06\n',
 '822109,5,2005-05-13\n',
 '885013,4,2005-10-19\n',
 '30878,4,2005-12-26\n']

In [5]:
data = [d.strip() for d in data]

In [37]:
data[:11]

['1:',
 '1488844,3,2005-09-06',
 '822109,5,2005-05-13',
 '885013,4,2005-10-19',
 '30878,4,2005-12-26',
 '823519,3,2004-05-03',
 '893988,3,2005-11-17',
 '124105,4,2004-08-05',
 '1248029,3,2004-04-22',
 '1842128,4,2004-05-09',
 '2238063,3,2005-05-11']

### First we make a list of all movie_ids and compare them with the movie_ids from first part.

In [8]:
movie_list=[]
for i,d in enumerate(data):
    f=re.search('\d+:',d)
    if f is not None:
#         print(f'{i} : {d}')
        movie_list.append(d[:-1])

In [22]:
movie_list[:5]

['1', '2', '3', '4', '5']

### Loading movie_ids from first part

In [17]:
movie_data = pd.read_csv('movie_titles_clean.csv',index_col='movie_id')

In [18]:
movie_data.head()

          year                         title
movie_id
1         2003               Dinosaur Planet
2         2004    Isle of Man TT 2004 Review
3         1997                     Character
4         1994  Paula Abdul's Get Up & Dance
5         2004      The Rise and Fall of ECW

In [24]:
movie_data.index

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            17761, 17762, 17763, 17764, 17765, 17766, 17767, 17768, 17769,
            17770],
           dtype='int64', name='movie_id', length=17763)

In [27]:
movie_list_int = [int(d) for d in movie_list]

### Here we take the difference of both list of movie_ids. We notice that while there are many movies that don't have a rating (first command); there is only one movie in the rating list that doesn't have movie information (second command)

In [28]:
set(movie_data.index).difference(movie_list_int)

{4500,
 4501,
 4502,
 4503,
 4504,
 4505,
 4506,
 4507,
 4508,
 4509,
 4510,
 4511,
 4512,
 4513,
 4514,
 4515,
 4516,
 4517,
 4518,
 4519,
 4520,
 4521,
 4522,
 4523,
 4524,
 4525,
 4526,
 4527,
 4528,
 4529,
 4530,
 4531,
 4532,
 4533,
 4534,
 4535,
 4536,
 4537,
 4538,
 4539,
 4540,
 4541,
 4542,
 4543,
 4544,
 4545,
 4546,
 4547,
 4548,
 4549,
 4550,
 4551,
 4552,
 4553,
 4554,
 4555,
 4556,
 4557,
 4558,
 4559,
 4560,
 4561,
 4562,
 4563,
 4564,
 4565,
 4566,
 4567,
 4568,
 4569,
 4570,
 4571,
 4572,
 4573,
 4574,
 4575,
 4576,
 4577,
 4578,
 4579,
 4580,
 4581,
 4582,
 4583,
 4584,
 4585,
 4586,
 4587,
 4588,
 4589,
 4590,
 4591,
 4592,
 4593,
 4594,
 4595,
 4596,
 4597,
 4598,
 4599,
 4600,
 4601,
 4602,
 4603,
 4604,
 4605,
 4606,
 4607,
 4608,
 4609,
 4610,
 4611,
 4612,
 4613,
 4614,
 4615,
 4616,
 4617,
 4618,
 4619,
 4620,
 4621,
 4622,
 4623,
 4624,
 4625,
 4626,
 4627,
 4628,
 4629,
 4630,
 4631,
 4632,
 4633,
 4634,
 4635,
 4636,
 4637,
 4638,
 4639,
 4640,
 4641,
 4642,
 4643,
 4644,
 4645,
 4646,
 4647,
 4648,
 4649,
 4650,
 4651,
 4652,
 4653,
 4654,
 4655,
 4656,
 4657,
 4658,
 4659,
 4660,
 4661,
 4662,
 4663,
 4664,
 4665,
 4666,
 4667,
 4668,
 4669,
 4670,
 4671,
 4672,
 4673,
 4674,
 4675,
 4676,
 4677,
 4678,
 4679,
 4680,
 4681,
 4682,
 4683,
 4684,
 4685,
 4686,
 4687,
 4688,
 4689,
 4690,
 4691,
 4692,
 4693,
 4694,
 4695,
 4696,
 4697,
 4698,
 4699,
 4700,
 4701,
 4702,
 4703,
 4704,
 4705,
 4706,
 4707,
 4708,
 4709,
 4710,
 4711,
 4712,
 4713,
 4714,
 4715,
 4716,
 4717,
 4718,
 4719,
 4720,
 4721,
 4722,
 4723,
 4724,
 4725,
 4726,
 4727,
 4728,
 4729,
 4730,
 4731,
 4732,
 4733,
 4734,
 4735,
 4736,
 4737,
 4738,
 4739,
 4740,
 4741,
 4742,
 4743,
 4744,
 4745,
 4746,
 4747,
 4748,
 4749,
 4750,
 4751,
 4752,
 4753,
 4754,
 4755,
 4756,
 4757,
 4758,
 4759,
 4760,
 4761,
 4762,
 4763,
 4764,
 4765,
 4766,
 4767,
 4768,
 4769,
 4770,
 4771,
 4772,
 4773,
 4774,
 4775,
 4776,
 4777,
 4778,
 4779,
 4780,
 4781,
 4782,
 4783,
 4784,
 4785,
 4786,
 4787,
 4788,
 4789,
 4790,
 4791,
 4792,
 4793,
 4795,
 4796,
 4797,
 4798,
 4799,
 4800,
 4801,
 4802,
 4803,
 4804,
 4805,
 4806,
 4807,
 4808,
 4809,
 4810,
 4811,
 4812,
 4813,
 4814,
 4815,
 4816,
 4817,
 4818,
 4819,
 4820,
 4821,
 4822,
 4823,
 4824,
 4825,
 4826,
 4827,
 4828,
 4829,
 4830,
 4831,
 4832,
 4833,
 4834,
 4835,
 4836,
 4837,
 4838,
 4839,
 4840,
 4841,
 4842,
 4843,
 4844,
 4845,
 4846,
 4847,
 4848,
 4849,
 4850,
 4851,
 4852,
 4853,
 4854,
 4855,
 4856,
 4857,
 4858,
 4859,
 4860,
 4861,
 4862,
 4863,
 4864,
 4865,
 4866,
 4867,
 4868,
 4869,
 4870,
 4871,
 4872,
 4873,
 4874,
 4875,
 4876,
 4877,
 4878,
 4879,
 4880,
 4881,
 4882,
 4883,
 4884,
 4885,
 4886,
 4887,
 4888,
 4889,
 4890,
 4891,
 4892,
 4893,
 4894,
 4895,
 4896,
 4897,
 4898,
 4899,
 4900,
 4901,
 4902,
 4903,
 4904,
 4905,
 4906,
 4907,
 4908,
 4909,
 4910,
 4911,
 4912,
 4913,
 4914,
 4915,
 4916,
 4917,
 4918,
 4919,
 4920,
 4921,
 4922,
 4923,
 4924,
 4925,
 4926,
 4927,
 4928,
 4929,
 4930,
 4931,
 4932,
 4933,
 4934,
 4935,
 4936,
 4937,
 4938,
 4939,
 4940,
 4941,
 4942,
 4943,
 4944,
 4945,
 4946,
 4947,
 4948,
 4949,
 4950,
 4951,
 4952,
 4953,
 4954,
 4955,
 4956,
 4957,
 4958,
 4959,
 4960,
 4961,
 4962,
 4963,
 4964,
 4965,
 4966,
 4967,
 4968,
 4969,
 4970,
 4971,
 4972,
 4973,
 4974,
 4975,
 4976,
 4977,
 4978,
 4979,
 4980,
 4981,
 4982,
 4983,
 4984,
 4985,
 4986,
 4987,
 4988,
 4989,
 4990,
 4991,
 4992,
 4993,
 4994,
 4995,
 4996,
 4997,
 4998,
 4999,
 5000,
 5001,
 5002,
 5003,
 5004,
 5005,
 5006,
 5007,
 5008,
 5009,
 5010,
 5011,
 5012,
 5013,
 5014,
 5015,
 5016,
 5017,
 5018,
 5019,
 5020,
 5021,
 5022,
 5023,
 5024,
 5025,
 5026,
 5027,
 5028,
 5029,
 5030,
 5031,
 5032,
 5033,
 5034,
 5035,
 5036,
 5037,
 5038,
 5039,
 5040,
 5041,
 5042,
 5043,
 5044,
 5045,
 5046,
 5047,
 5048,
 5049,
 5050,
 5051,
 5052,
 5053,
 5054,
 5055,
 5056,
 5057,
 5058,
 5059,
 5060,
 5061,
 5062,
 5063,
 5064,
 5065,
 5066,
 5067,
 5068,
 5069,
 5070,
 5071,
 5072,
 5073,
 5074,
 5075,
 5076,
 5077,
 5078,
 5079,
 5080,
 5081,
 5082,
 5083,
 5084,
 5085,
 5086,
 5087,
 5088,
 5089,
 5090,
 5091,
 5092,
 5093,
 5094,
 5095,
 5096,
 5097,
 5098,
 5099,
 5100,
 5101,
 5102,
 5103,
 5104,
 5105,
 5106,
 5107,
 5108,
 5109,
 5110,
 5111,
 5112,
 5113,
 5114,
 5115,
 5116,
 5117,
 5118,
 5119,
 5120,
 5121,
 5122,
 5123,
 5124,
 5125,
 5126,
 5127,
 5128,
 5129,
 5130,
 5131,
 5132,
 5133,
 5134,
 5135,
 5136,
 5137,
 5138,
 5139,
 5140,
 5141,
 5142,
 5143,
 5144,
 5145,
 5146,
 5147,
 5148,
 5149,
 5150,
 5151,
 5152,
 5153,
 5154,
 5155,
 5156,
 5157,
 5158,
 5159,
 5160,
 5161,
 5162,
 5163,
 5164,
 5165,
 5166,
 5167,
 5168,
 5169,
 5170,
 5171,
 5172,
 5173,
 5174,
 5175,
 5176,
 5177,
 5178,
 5179,
 5180,
 5181,
 5182,
 5183,
 5184,
 5185,
 5186,
 5187,
 5188,
 5189,
 5190,
 5191,
 5192,
 5193,
 5194,
 5195,
 5196,
 5197,
 5198,
 5199,
 5200,
 5201,
 5202,
 5203,
 5204,
 5205,
 5206,
 5207,
 5208,
 5209,
 5210,
 5211,
 5212,
 5213,
 5214,
 5215,
 5216,
 5217,
 5218,
 5219,
 5220,
 5221,
 5222,
 5223,
 5224,
 5225,
 5226,
 5227,
 5228,
 5229,
 5230,
 5231,
 5232,
 5233,
 5234,
 5235,
 5236,
 5237,
 5238,
 5239,
 5240,
 5241,
 5242,
 5243,
 5244,
 5245,
 5246,
 5247,
 5248,
 5249,
 5250,
 5251,
 5252,
 5253,
 5254,
 5255,
 5256,
 5257,
 5258,
 5259,
 5260,
 5261,
 5262,
 5263,
 5264,
 5265,
 5266,
 5267,
 5268,
 5269,
 5270,
 5271,
 5272,
 5273,
 5274,
 5275,
 5276,
 5277,
 5278,
 5279,
 5280,
 5281,
 5282,
 5283,
 5284,
 5285,
 5286,
 5287,
 5288,
 5289,
 5290,
 5291,
 5292,
 5293,
 5294,
 5295,
 5296,
 5297,
 5298,
 5299,
 5300,
 5301,
 5302,
 5303,
 5304,
 5305,
 5306,
 5307,
 5308,
 5309,
 5310,
 5311,
 5312,
 5313,
 5314,
 5315,
 5316,
 5317,
 5318,
 5319,
 5320,
 5321,
 5322,
 5323,
 5324,
 5325,
 5326,
 5327,
 5328,
 5329,
 5330,
 5331,
 5332,
 5333,
 5334,
 5335,
 5336,
 5337,
 5338,
 5339,
 5340,
 5341,
 5342,
 5343,
 5344,
 5345,
 5346,
 5347,
 5348,
 5349,
 5350,
 5351,
 5352,
 5353,
 5354,
 5355,
 5356,
 5357,
 5358,
 5359,
 5360,
 5361,
 5362,
 5363,
 5364,
 5365,
 5366,
 5367,
 5368,
 5369,
 5370,
 5371,
 5372,
 5373,
 5374,
 5375,
 5376,
 5377,
 5378,
 5379,
 5380,
 5381,
 5382,
 5383,
 5384,
 5385,
 5386,
 5387,
 5388,
 5389,
 5390,
 5391,
 5392,
 5393,
 5394,
 5395,
 5396,
 5397,
 5398,
 5399,
 5400,
 5401,
 5402,
 5403,
 5404,
 5405,
 5406,
 5407,
 5408,
 5409,
 5410,
 5411,
 5412,
 5413,
 5414,
 5415,
 5416,
 5417,
 5418,
 5419,
 5420,
 5421,
 5422,
 5423,
 5424,
 5425,
 5426,
 5427,
 5428,
 5429,
 5430,
 5431,
 5432,
 5433,
 5434,
 5435,
 5436,
 5437,
 5438,
 5439,
 5440,
 5441,
 5442,
 5443,
 5444,
 5445,
 5446,
 5447,
 5448,
 5449,
 5450,
 5451,
 5452,
 5453,
 5454,
 5455,
 5456,
 5457,
 5458,
 5459,
 5460,
 5461,
 5462,
 5463,
 5464,
 5465,
 5466,
 5467,
 5468,
 5469,
 5470,
 5471,
 5472,
 5473,
 5474,
 5475,
 5476,
 5477,
 5478,
 5479,
 5480,
 5481,
 5482,
 5483,
 5484,
 5485,
 5486,
 5487,
 5488,
 5489,
 5490,
 5491,
 5492,
 5493,
 5494,
 5495,
 5496,
 5497,
 5498,
 5499,
 5500,
 ...}

In [29]:
set(movie_list_int).difference(movie_data.index)

{4388}

### In the following we read the dataset. First we search for the movie_id line. When we find such a line (f!=None), we store the id in 'movie' variable. When we don't have such a line, its the rating line. We split it on comma and combine it with movie_id.

In [45]:
rating_data=[]
for i,d in enumerate(data):
    f=re.search('\d+:',d)
    if f is not None:
        movie = d[:-1]
        continue
    rating=d.split(',')
    rating_data.append((movie,*rating))

### Now we have list of tuples with the format (movie_id, user_id, rating, date). We make a pandas dataframe from it.

In [51]:
rating_df = pd.DataFrame(rating_data,columns=['movie_id','user_id','rating','date'])

In [52]:
rating_df.head()

  movie_id  user_id rating        date
0        1  1488844      3  2005-09-06
1        1   822109      5  2005-05-13
2        1   885013      4  2005-10-19
3        1    30878      4  2005-12-26
4        1   823519      3  2004-05-03

In [55]:
rating_df.user_id.nunique()

470758

In [56]:
rating_df.movie_id.nunique()

4499

### Here we ensure that there is only ony rating for each movie_id and user_id by first grouping the data by movie_id, user_id and counting the number of ratings.

In [63]:
uniq_rating_df=rating_df.groupby(['movie_id','user_id'])['rating'].count()

### Checking if we have only 1 rating for each combination

In [64]:
uniq_rating_df[uniq_rating_df!=1]

Series([], Name: rating, dtype: int64)

In [65]:
rating_df.to_csv('rating.csv')

### Doing the above for other three files

In [71]:
with open('combined_data_2.txt','r',encoding='utf-8',errors='ignore') as f:
    data2 = f.readlines()
print(len(data2))
with open('combined_data_3.txt','r',encoding='utf-8',errors='ignore') as f:
    data2.extend(f.readlines())
print(len(data2))
with open('combined_data_4.txt','r',encoding='utf-8',errors='ignore') as f:
    data2.extend(f.readlines())
print(len(data2))

26982302
49588088
76440014

In [72]:
data2=[d.strip() for d in data2]

In [73]:
rating_data2=[]
for i,d in enumerate(data2):
    f=re.search('\d+:',d)
    if f is not None:
        movie = d[:-1]
        continue
    rating=d.split(',')
    rating_data2.append((movie,*rating))

In [74]:
rating2_df = pd.DataFrame(rating_data2,columns=['movie_id','user_id','rating','date'])

In [76]:
rating2_df.shape

(76426743, 4)

### Concatenating Datasets

In [78]:
all_rating_df=pd.concat([rating_df,rating2_df])

In [79]:
all_rating_df.to_csv('all_rating.csv')